py -3.11 -m pip install 
pandas==2.2.3, 
numpy==1.26.4, 
matplotlib==3.10.1, 
seaborn==0.13.2, 
lightgbm==4.3.0, 
joblib==1.4.2, 
tqdm==4.67.1, 
scipy==1.13.1, 
jupyter==1.0.0, 
xgboost==2.0.3, 
imbalanced-learn==0.12.2, 
catboost==1.2.5, 
river, 
hyperopt, 
scikit-optimize, 
mealpy --upgrade  
scikit-learn==1.4.2  
